@import "color.css";
@import "header.css";
@import "general_css.css";
@import "footer.css";
article {
    margin: 0;
    background-color: var(--bg-color-black);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mumbai_blog_1_h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 5.625rem 0;
    font-weight: 300;
    color: #939FA4;
}

.time_id {
    color: black;
}

#rome_grid_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.75rem 0.75rem;
    padding: 1.325rem;
}

.mum_grid_container_p {
    display: block;
    padding: 1.325rem;
}

.mum_grid_container_2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2.5rem auto;
    padding: 1.325rem;
}

.author-info {
    display: flex;
    margin: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(197, 230, 251,.5);
    flex-wrap: wrap;
    padding: 1.325rem;
}
.author-info-text {
    display: flex;
    flex-direction: column;
} 

.author-info-text > h4 {
    margin: 0;
}

.author-info-img {
    border-radius: 100%;
    width: 100%;
    height: auto;
    min-width: 5.25rem;
    max-width: 12.5rem;
}

.mum-img {
    width: 100%;
    height: auto;
}

@media(min-width: 1200px) {
    .mum_grid_container_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.75rem;
        margin: 2.5rem auto;
        padding: 1.325rem;
    }
}

@media(min-width: 1200px) {
    .mum_grid_container_p {
        text-align: justify;
        display: block;
    }
}
