html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--background_color_two);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--highlight_color);
}

a.button {
    background: var(--background_color_two);
    border-radius: 5px;
    color: var(--background_color_one);
    font-weight: 500;
    padding: 0 2rem;
    line-height: 2.75rem;
    display: inline-block;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

a.button:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

a.button_two {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: var(--highlight_color);
    color: var(--background_color_one);
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.625rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.Body-wrapper {
    width: 100%;
    background-color: var(--background_color_one);
    min-height: 10rem;
    border-left: 1px solid var(--border_color);
    border-right: 1px solid var(--border_color);
    box-sizing: border-box;
}

.inner {
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    height: inherit;
}

.inner_padding {
    padding: 5.875rem 0;
}

.inner_h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 5.625rem 0;
    font-weight: 300;
    color: var(--text_color_three);
}

.h1_strong {
    color: black;
    font-weight: 700;
}

.subheadline {
    color: var(--background_color_one);
    font-size: 1.25rem;
    margin-bottom: 3.75rem;
}