@import "color.css";
.footer {
    border: 0.1rem;
    border-color: black;
    background-color: var(--bg-color-black);
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.375rem 0;
}

.links-footer_a {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.625rem;
    margin: 0.9375rem;
}