.header-style {
    padding: 0px 10px;
    height: 4.25rem;
    background-color: var(--bg-color-black);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.0rem;
    font-weight: 300;
    color: #939FA4;
}

.logo-text {
    font-weight: 700;
    color: white;
}

.links_a {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.625rem;
    margin: 0.9375rem;
}

.links_a:hover {
    background: var(--highlight_color);
    color: var(--bg-color-white);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}