@import "color.css";
@import "header.css";
@import "common_body.css";
@import "footer.css";
.blog {
    text-align: center;
}

.blog_posts {
    display: grid;
    grid-template-columns: 1fr;
}

.blog_posts>div {
    min-width: 20rem;
    margin-top: 1.25rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.blog_posts_img {
    width: 100%;
    display: block;
    margin: -1.25rem auto 0 auto;
}

.blog_post_span {
    font-size: 1rem;
}

.blog_post_teaser {
    margin: 2.5rem;
    text-align: left;
}


.blog_post_h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    color: black;
    text-align: left;
}


.c_orange {
    color: #ffb11c;
}

.c_blue {
    color: #63a8ff;
}

.c_green {
    color: #057e3cba;
}
.blog_post_p {
    color: var(--text_color_four);
    text-align: justify;
}

.blog_posts_a {
    color: var(--text_color_five);
    font-weight: 500;
}

.blog .button {
    margin-top: 5.625rem;
    margin-bottom: 1.875rem;
}

@media(min-width:1125px) {
    .blog_posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.625rem;
    }
}