@import "general_css.css";
@import "color.css";
@import "footer.css";
@import "headerstyles.css";
.blog {
    text-align: center;
}

.post_content {
    display: grid;
    grid-template-columns: 1fr;
}

.post_content>div {
    min-width: 20rem;
    margin-top: 1.25rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.post_img {
    width: 100%;
    display: block;
    margin: -1.25rem auto 0 auto;
}

.post_text {
    margin: 2.5rem;
    text-align: left;
}


.post_text_h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    color: black;
    text-align: left;
}


.c_orange {
    color: #ffb11c;
}

.c_blue {
    color: #63a8ff;
}

.c_green {
    color: #057e3cba;
}
.post_text_p {
    color: rgb(61, 61, 61);
    text-align: justify;
}

.blog .button {
    margin-top: 5.625rem;
    margin-bottom: 1.875rem;
}

@media(min-width:1125px) {
    .post_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.625rem;
    }
}